<header class='navbar navbar-fixed-top'>
    <div class='container'>
        <nav>
            <ul class='nav nav-pills pull-right'>
                <li role='presentation'><a href="/">Home</a></a></li>
                <li role='presentation'><a href="/rsvp">RSVP</a></li>
                <li role='presentation'><a href="#">About</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class='center jumbotron'>
    <h1>Kylie & Daniel - June 3<sup>rd</sup> 2017</h1>
</div>