/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html{
    overflow-y: scroll;
}

@font-face{
    font-family: 'wedding-font';
    src:
        font-url('wedding-font.otf') format('opentype');
}

body{
    font-family: 'wedding-font';
    color: white;
    padding-top: 40px;
}

@media only screen and (max-device-width:480px){
    body{
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('coffee-h.png');
        background-size: 100%;
        background-color: rgb(72, 73, 91);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }  
}

@media only screen and (min-device-width: 600px) and (orientation:landscape){
    body{
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('coffee-h.png');
        background-size: 100%;
        background-color: rgb(72, 73, 91);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation:portrait){
    body{
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('coffee-v.png');
        background-size: cover;
        background-color: rgb(72, 73, 91);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation:landscape){
    body{
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('coffee-h.png');
        background-size: 100%;
        background-color: rgb(72, 73, 91);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){
    body{
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('coffee-v.png');
        background-size: 100%;
        background-color: rgb(72, 73, 91);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (min-device-width: 1024px) and (orientation:portrait){ 
    body{
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('coffee-v.png');
        background-size: 100%;
        background-color: rgb(72, 73, 91);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (min-device-width: 1024px) and (orientation:landscape){
    body{
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('coffee-h.png');
        background-size: cover;
        background-color: rgb(72, 73, 91);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.center{
    text-align: center;
}

.jumbotron{
   background: rgba(0,0,0,0);
}

#logo{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    padding-top: 9px;
}

#logo:hover{
    background-color: inherit;
    color: #fff;
    text-decoration: none;
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    width: 100%;
    bottom: 0;
}

.modal{
    color: #000;
}