// Place all the styles related to the rsvp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.modal-header-inverse{
    color: #9d9d9d;
    background-color: #222;
    border-color: #101010;
}