<div class='center'>
    <div>
        <h1>Below is our registry list.</h1><br/>
        Thanks for taking time to encourage us in this new chapter of our lives.<br/>
        If you don't find anything here, we enjoy cooking, hiking, camping, fishing, yoga, canoeing, and technology.</h1>
    </div>
    <br/>
    <br/>
    <div style='padding: 14px 40px'>
        <a href='https://www.amazon.com/wedding/kylie-ward-daniel-scarbrough-siloam-springs-june-2017/registry/82V76OESGBEM'>
            <button class='btn btn-lg btn-inverse' style='width: 250px; padding: 14px 40px'>Amazon</button>
        </a>
    </div>
    <div style='padding: 14px 40px'>
        <a href='http://www.dillards.com/registry/KylieWard-DanielScarbrough/130485667?firstName=kylie&lastName=ward'>
            <button class='btn btn-lg btn-inverse' style='width: 250px; padding: 14px 40px'>Dillards</button>
        </a>
    </div>
    <div style='padding: 14px 40px'>
        <a href='https://secure.potterybarn.com/registry/wwg9zvbfkq/registry-list.html'>
            <button class='btn btn-lg btn-inverse' style='width: 250px; padding: 14px 40px'>Pottery Barn</button>
        </a>
    </div>
</div>